* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
}

.container {
    padding: 20px;
    height: fit-content;
}

.container form>* {
    display: block;
    width: 100%;
    margin: 10px 0;
}

/* #notification {
    padding: 10px 50px;
    width: fit-content;
    position: absolute;
    right: 0;
    margin: 10px;
    border: 1px solid #000;
    background-color: #fff;
    display: none;
} */

#container-notes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.note {
    width: 100%;
    /* height: 200px; */
    padding: 10px;
    margin: 0 0 20px;
    /* margin: 10px; */
    word-wrap: break-word;
    overflow-y: auto;
}

.note button {
    margin: 5px 0;
}

.alert {
    margin: 20px;
}