* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.container form>* {
    display: block;
    width: 100%;
    margin: 10px 0;
}